<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[doge]</key>
	<string>d_doge</string>
	<key>[good]</key>
	<string>h_good</string>
	<key>[haha]</key>
	<string>h_haha</string>
	<key>[hold住]</key>
	<string>lxh_holdzhu</string>
	<key>[ok]</key>
	<string>h_ok</string>
	<key>[下雨]</key>
	<string>w_xiayu</string>
	<key>[不好意思]</key>
	<string>lxh_buhaoyisi</string>
	<key>[不想上班]</key>
	<string>lxh_buxiangshangban</string>
	<key>[不要]</key>
	<string>buyao</string>
	<key>[丘比特]</key>
	<string>lxh_qiubite</string>
	<key>[互相膜拜]</key>
	<string>lxh_xianghumobai</string>
	<key>[互粉]</key>
	<string>f_hufen</string>
	<key>[亲亲]</key>
	<string>qinqin</string>
	<key>[伤心]</key>
	<string>l_shangxin</string>
	<key>[偷乐]</key>
	<string>lxh_toule</string>
	<key>[偷笑]</key>
	<string>touxiao</string>
	<key>[傻眼]</key>
	<string>shayan</string>
	<key>[兔子]</key>
	<string>d_tuzi</string>
	<key>[冰棍]</key>
	<string>o_binggun</string>
	<key>[别烦我]</key>
	<string>lxh_biefanwo</string>
	<key>[发红包]</key>
	<string>o_fahongbao</string>
	<key>[可怜]</key>
	<string>kelian</string>
	<key>[可爱]</key>
	<string>keai</string>
	<key>[右哼哼]</key>
	<string>youhengheng</string>
	<key>[吃惊]</key>
	<string>chijing</string>
	<key>[吐]</key>
	<string>tu</string>
	<key>[咖啡]</key>
	<string>o_kafei</string>
	<key>[哆啦A梦吃惊]</key>
	<string>dorachijing_mobile</string>
	<key>[哆啦A梦微笑]</key>
	<string>jqmweixiao_mobile</string>
	<key>[哆啦A梦汗]</key>
	<string>dorahan_mobile</string>
	<key>[哆啦A梦花心]</key>
	<string>dorahaose_mobile</string>
	<key>[哈哈]</key>
	<string>haha</string>
	<key>[哈欠]</key>
	<string>dahaqi</string>
	<key>[哼]</key>
	<string>heng</string>
	<key>[喜]</key>
	<string>xi</string>
	<key>[喵喵]</key>
	<string>d_miao</string>
	<key>[嘘]</key>
	<string>xu</string>
	<key>[嘻嘻]</key>
	<string>xixi</string>
	<key>[噢耶]</key>
	<string>lxh_oye</string>
	<key>[囧]</key>
	<string>jiong</string>
	<key>[困]</key>
	<string>kun</string>
	<key>[困死了]</key>
	<string>lxh_kunsile</string>
	<key>[围脖]</key>
	<string>weibo</string>
	<key>[围观]</key>
	<string>weiguan</string>
	<key>[太开心]</key>
	<string>taikaixin</string>
	<key>[太阳]</key>
	<string>w_taiyang</string>
	<key>[失望]</key>
	<string>shiwang</string>
	<key>[奥特曼]</key>
	<string>aoteman</string>
	<key>[女孩儿]</key>
	<string>nvhaier</string>
	<key>[好喜欢]</key>
	<string>lxh_haoxihuan</string>
	<key>[好囧]</key>
	<string>lxh_haojiong</string>
	<key>[好棒]</key>
	<string>lxh_haobang</string>
	<key>[好爱哦]</key>
	<string>lxh_haoaio</string>
	<key>[委屈]</key>
	<string>weiqu</string>
	<key>[威武]</key>
	<string>weiwu</string>
	<key>[害羞]</key>
	<string>haixiu</string>
	<key>[小章鱼]</key>
	<string>xiaozhangyu</string>
	<key>[崩溃]</key>
	<string>lxh_bengkui</string>
	<key>[左哼哼]</key>
	<string>zuohengheng</string>
	<key>[巨汗]</key>
	<string>lxh_juhan</string>
	<key>[干杯]</key>
	<string>o_ganbei</string>
	<key>[弱]</key>
	<string>ruo</string>
	<key>[得意地笑]</key>
	<string>lxh_deyidexiao</string>
	<key>[微笑]</key>
	<string>hehe</string>
	<key>[微风]</key>
	<string>w_weifeng</string>
	<key>[心]</key>
	<string>l_xin</string>
	<key>[怒]</key>
	<string>nu</string>
	<key>[怒骂]</key>
	<string>numa</string>
	<key>[思考]</key>
	<string>sikao</string>
	<key>[悲伤]</key>
	<string>beishang</string>
	<key>[悲催]</key>
	<string>lxh_beicui</string>
	<key>[想一想]</key>
	<string>lxh_xiangyixiang</string>
	<key>[感冒]</key>
	<string>ganmao</string>
	<key>[手套]</key>
	<string>shoutao</string>
	<key>[打脸]</key>
	<string>dalian</string>
	<key>[抓狂]</key>
	<string>zhuakuang</string>
	<key>[抠鼻屎]</key>
	<string>lxh_koubishi</string>
	<key>[拜拜]</key>
	<string>baibai</string>
	<key>[挖鼻]</key>
	<string>wabishi</string>
	<key>[挤眼]</key>
	<string>zuoguilian</string>
	<key>[推荐]</key>
	<string>lxh_tuijian</string>
	<key>[握手]</key>
	<string>h_woshou</string>
	<key>[晕]</key>
	<string>yun</string>
	<key>[月亮]</key>
	<string>w_yueliang</string>
	<key>[有鸭梨]</key>
	<string>lxh_youyali</string>
	<key>[杰克逊]</key>
	<string>lxh_jiekexun</string>
	<key>[求关注]</key>
	<string>lxh_qiuguanzhu</string>
	<key>[汗]</key>
	<string>han</string>
	<key>[沙尘暴]</key>
	<string>w_shachenbao</string>
	<key>[泪]</key>
	<string>lei</string>
	<key>[泪流满面]</key>
	<string>lxh_leiliumanmian</string>
	<key>[浮云]</key>
	<string>w_fuyun</string>
	<key>[炸鸡啤酒]</key>
	<string>d_zhajipijiu</string>
	<key>[照相机]</key>
	<string>o_zhaoxiangji</string>
	<key>[熊猫]</key>
	<string>xiongmao</string>
	<key>[爱你]</key>
	<string>aini</string>
	<key>[猪头]</key>
	<string>d_zhutou</string>
	<key>[玫瑰]</key>
	<string>lxh_meigui</string>
	<key>[生病]</key>
	<string>shengbing</string>
	<key>[甩甩手]</key>
	<string>lxh_shuaishuaishou</string>
	<key>[电影]</key>
	<string>o_dianying</string>
	<key>[男孩儿]</key>
	<string>nanhaier</string>
	<key>[疑问]</key>
	<string>yiwen</string>
	<key>[白眼]</key>
	<string>landelini</string>
	<key>[睡]</key>
	<string>shuijiao</string>
	<key>[瞧瞧]</key>
	<string>lxh_qiaoqiao</string>
	<key>[礼物]</key>
	<string>o_liwu</string>
	<key>[神马]</key>
	<string>shenma</string>
	<key>[笑cry]</key>
	<string>xiaoku</string>
	<key>[笑哈哈]</key>
	<string>lxh_xiaohaha</string>
	<key>[纠结]</key>
	<string>lxh_jiujie</string>
	<key>[织]</key>
	<string>zhi</string>
	<key>[给力]</key>
	<string>geili</string>
	<key>[给劲]</key>
	<string>lxh_geijin</string>
	<key>[绿丝带]</key>
	<string>o_lvsidai</string>
	<key>[羞嗒嗒]</key>
	<string>lxh_xiudada</string>
	<key>[群体围观]</key>
	<string>lxh_quntiweiguan</string>
	<key>[耶]</key>
	<string>h_ye</string>
	<key>[肥皂]</key>
	<string>d_feizao</string>
	<key>[自行车]</key>
	<string>o_zixingche</string>
	<key>[色]</key>
	<string>huaxin</string>
	<key>[草泥马]</key>
	<string>d_shenshou</string>
	<key>[萌]</key>
	<string>meng</string>
	<key>[落叶]</key>
	<string>w_luoye</string>
	<key>[蛋糕]</key>
	<string>o_dangao</string>
	<key>[蜡烛]</key>
	<string>lazhu</string>
	<key>[衰]</key>
	<string>shuai2</string>
	<key>[被电]</key>
	<string>lxh_beidian</string>
	<key>[西瓜]</key>
	<string>o_xigua</string>
	<key>[许愿]</key>
	<string>lxh_xuyuan</string>
	<key>[话筒]</key>
	<string>o_huatong</string>
	<key>[赞]</key>
	<string>h_zan</string>
	<key>[赞啊]</key>
	<string>lxh_zana</string>
	<key>[足球]</key>
	<string>o_zuqiu</string>
	<key>[躁狂症]</key>
	<string>lxh_zaokuangzheng</string>
	<key>[转发]</key>
	<string>lxh_zhuanfa</string>
	<key>[过来]</key>
	<string>guolai</string>
	<key>[鄙视]</key>
	<string>bishi</string>
	<key>[酷]</key>
	<string>ku</string>
	<key>[钟]</key>
	<string>o_zhong</string>
	<key>[钱]</key>
	<string>qian</string>
	<key>[闭嘴]</key>
	<string>bizui</string>
	<key>[阴险]</key>
	<string>yinxian</string>
	<key>[雪]</key>
	<string>xue</string>
	<key>[雪人]</key>
	<string>w_xueren</string>
	<key>[雷锋]</key>
	<string>lxh_leifeng</string>
	<key>[震惊]</key>
	<string>lxh_zhenjing</string>
	<key>[霹雳]</key>
	<string>lxh_pili</string>
	<key>[音乐]</key>
	<string>o_yinyue</string>
	<key>[顶]</key>
	<string>dingqi</string>
	<key>[风扇]</key>
	<string>fengshan</string>
	<key>[飞机]</key>
	<string>o_feiji</string>
	<key>[馋嘴]</key>
	<string>chanzui</string>
	<key>[鲜花]</key>
	<string>w_xianhua</string>
	<key>[黑线]</key>
	<string>heixian</string>
	<key>[鼓掌]</key>
	<string>guzhang</string>
</dict>
</plist>
